:root {
  --gutters: #ebe7e5;
  --linenumbers: #565f89;
  --border: #565f89;
  --background-primary: #1a1b26;
  --background-secondary: #d09ff136;
  --gutters-border: 1px solid transparent;
  --border-width: 1px;
  --error: #ee4f4f;
  --warning: #ffed2b;
  --success: #6de46d;
  --icons: #6b84b0;
  --font-primary: 'Fantastic';
  --hover: #f9869b;

  --icons: #565f89;

  --comment: #546a90;
  --operator: #14f2dc;
  --number: #95d8f5;
  --keyword: #d09ff1;

  --effect: #79aefd;
  --predicate: #f9869b;
  --type: #9aadd9;

  /* --variable: #3dd8ff; */
  --variable: #ffdf8e;

  --string: #bbe7c4;
  --bracket: #7b8baf;
  --color-primary: #f7f6f3;
  --color-secondary: #96aad6;
  --color-thirdly: #d09ff1;
  --color-fourtly: #75ff91;
  --color-fiftly: #2eff85;
}
@font-face {
  font-family: 'Fantastic';
  src: url(../assets/fonts/FantasqueSansMono-Regular.ttf) format('truetype');
  font-display: swap;
}

#label-container {
  position: fixed;
  border: solid 1px var(--border);
  color: var(--icons);
  font-family: var(--font-primary);
}

body {
  background-color: var(--background-primary);
}

main {
  display: none;
}

.CodeMirror {
  width: 100%;
}

.error_line {
  /* border: var(--border-width) solid #ff275d; */
  color: #ff275d;
  background-color: var(--background-primary);
  border: 1px solid #ff275d;
}

.info_line {
  border: var(--border-width) solid var(--comment);
  color: var(--color-primary);
}
#mutation:active {
  transform: scale(0.9);
}
#mutation {
  position: absolute;
  bottom: 0px;
  left: 5px;
  transition-property: all;
  transition-property: transform;
  background: transparent;
  /* color: var(--comment); */
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1000;
}

.button:active {
  transform: scale(0.9);
}

.button > svg:hover {
  transform: scale(1.2);
  fill: var(--hover);
  stroke: var(--hover);
}
.button > svg {
  stroke: var(--icons);
  fill: var(--icons);
}

.button {
  transition-property: all;
  transition-property: transform;
  background: transparent;
  /* color: var(--comment); */
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1000;
}

.toolbar {
  position: absolute;
  top: 15px;
  right: 5px;
  display: grid;
  /* justify-content: space-between; */
}

html,
body {
  background-color: var(--background-primary);
  margin: 0;
  height: 100vh;
}

#editor-container {
  border-top: 2px solid var(--border);
  border-bottom: solid 2px var(--border);
}

.svgIcon:active {
  transform: scale(1.2);
}
.svgIcon:hover {
  color: var(--hover);
  fill: var(--hover);
  stroke: var(--hover);
}
.svgIcon {
  color: var(--icons);
  fill: var(--icons);
  stroke: var(--icons);
}
.header {
  /* margin-left: 20px; */
  /* right: 0px;
  bottom: 10px; */
  height: 50px;
  border: none;
  /* padding-left: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-primary);
  z-index: 1000;
}
/* iframe {
  background: transparent;
  border: none;
  border-top: solid 1px var(--border);
} */
.header-buttons {
  /* margin-left: 20px; */
  /* right: 0px;
  bottom: 10px; */
  height: 50px;
  margin-top: 10px;
  border: none;
  /* padding-left: 10px; */
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 1003;
}

.cm-editor {
  border: none;
  padding-inline-start: 2px;
  font-size: 12px;
}
.header-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.cm-panels,
.cm-search {
  background-color: transparent !important;
  width: auto;
}
.cm-completionLabel,
.cm-completionMatchedText,
.cm-completionDetail {
  font-family: var(--font-primary);
}
.cm-searchMatch {
  background-color: #686971be !important;
}
.cm-searchMatch-selected {
  background-color: #de61b08e !important;
}
.float {
  animation: float 2s ease-in-out infinite;
}
.shake {
  animation: shake-animation 3.52s ease infinite;
  transform-origin: 50% 50%;
}

.fs-autocomplete-option {
  background-color: var(--background-primary);
  color: var(--color-border);
  border: none;
  text-align: left;
  padding: 8px;
  cursor: crosshair;
}
.fs-autocomplete-option:hover {
  background-color: var(--comment);
}
#application {
  display: none;
  border: none;
  background-color: #15161f;
  border-bottom: solid 1px var(--border);
  width: 99.9%;
  height: 60vh;
}
#toolbar {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 15px;
  gap: 10px;
}
